label {
    color: #555;
    display: inline-block;
    min-width: 120px;
}
input {
    padding: 0.2em 0.5em;
}
form div {
    margin: 0 0 0.5em 0;
}
.message-success {
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 0.4em 0.8em;
    margin: 0.5em;
}