<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/form.css"/>
    </h:head>
    <h:body>
        <h1>#{example1.message}</h1>
        Hello, #{example1.name}
        <hr/>
        <h:form id="mainForm">
            <div>
                <h:outputLabel for="name">Name:</h:outputLabel>
                <h:inputText id="name" value="#{example1.name}"/>
            </div>
            <div>
                <h:outputLabel for="lastName">Last name:</h:outputLabel>
                <h:inputText id="lastName" value="#{example1.lastName}"/>
            </div>
            <h:commandButton value="Submit" action="#{example1.action()}" />
            <h:messages for="mainForm" showDetail="true" infoClass="message-success"/>
        </h:form>
    </h:body>
</html>

